<section class="my-4 container">
  <div class="mb-3">
    <div class="d-flex w-100 justify-content-between">
      <h1 class="m-0">{{user.username}}</h1>
      <button class="btn btn-sm btn-primary d-inline float-end">Go to your personal profile</button>
    </div>
    <p>Your personal account</p>
  </div>

  <div class="row">
    <div class="col-md-auto mb-3 align-items-start" style="min-width: 200px">
      <div class="nav flex-column nav-pills border rounded ish-table mb-4" aria-orientation="vertical">
        <p class="mb-0 p-2 ps-3">Account settings</p>
        <button class="nav-link" type="button" routerLink="/settings/profile">Profile</button>
        <button class="nav-link" type="button" routerLink="/settings/account">Account</button>
        <button class="nav-link" type="button" routerLink="/settings/appearance">Appearance</button>
        <button class="nav-link" type="button" routerLink="/settings/security">Security</button>
        <button class="nav-link" type="button" routerLink="/settings/emails">Emails</button>
        <button class="nav-link" type="button" routerLink="/settings/security-log">Security Log</button>
      </div>
      <div class="nav flex-column nav-pills border rounded ish-table" aria-orientation="vertical">
        <p class="mb-0 p-2 ps-3">Moderation settings</p>
        <button class="nav-link" type="button" routerLink="/settings/blocked-users">Blocked users</button>
      </div>
    </div>
    <div class="col">
      <app-setting-profile *ngIf="param === 'profile' || !param" (isSummited)="refresh($event)"></app-setting-profile>
      <app-setting-account *ngIf="param === 'account'" (isSummited)="refresh($event)"></app-setting-account>
      <app-setting-appearance *ngIf="param === 'appearance'" (isSummited)="refresh($event)"></app-setting-appearance>
      <app-setting-security *ngIf="param === 'security'" (isSummited)="refresh($event)"></app-setting-security>
      <app-setting-emails *ngIf="param === 'emails'" (isSummited)="refresh($event)"></app-setting-emails>
      <app-setting-security-log *ngIf="param === 'security-log'" (isSummited)="refresh($event)"></app-setting-security-log>
      <app-setting-security-log *ngIf="param === 'blocked-users'" (isSummited)="refresh($event)"></app-setting-security-log>
    </div>
  </div>
</section>
