<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Change password</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('password')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" [formGroup]="passwordForm" (ngSubmit)="password()">
  <div class="mb-3">
    <label class="form-label">Old password</label>
    <input type="password" formControlName="oldPassword" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">New password</label>
    <input type="password" formControlName="newPassword" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm new password</label>
    <input type="password" formControlName="newPasswordConfirm" class="form-control">
  </div>
  <p class="text-muted">Make sure it's at least 8 characters and contain at least one lowercase, uppercase, numeric, special character.</p>
  <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-sm btn-primary">Update password</button>
</form>

<h3 class="pb-2 border-bottom">Two-factor authentication</h3>
<p>Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>

<div class="list-group mb-3">
  <div class="list-group-item">
    <div class="d-flex bd-highlight">
      <div class="bd-highlight">
        <p class="mb-1">Two-factor authentication by email</p>
        <ul class="mb-1">
          <li><p class="{{user.twoFactorEmail ? 'text-success' : 'text-danger'}} m-0">{{user.twoFactorEmail ? 'Enabled' : 'Disabled' }}</p></li>
        </ul>
      </div>
      <div class="ms-auto bd-highlight">
        <button (click)="emailTwoFactor()" class="btn mt-2 btn-sm {{!user.twoFactorEmail ? 'btn-success' : 'btn-danger'}} d-inline float-end">{{!user.twoFactorEmail ? 'Enable' : 'Disable' }}</button>
      </div>
    </div>
  </div>
</div>

<h3 class="pb-2 border-bottom">Recovery options</h3>

<div class="list-group mb-3">
  <div class="list-group-item">
    <div class="d-flex bd-highlight">
      <div class="bd-highlight">
        <p class="mb-1">Recovery codes</p>
        <ul class="mb-1">
          <li><p class="{{user.twoFactorEmail ? 'text-success' : 'text-danger'}} m-0">{{user.twoFactorEmail ? 'Enabled' : 'Disabled' }}</p></li>
        </ul>
      </div>
      <div class="ms-auto bd-highlight">
        <button (click)="emailTwoFactor()" class="btn mt-2 btn-sm {{!user.twoFactorEmail ? 'btn-success' : 'btn-danger'}} d-inline float-end">{{!user.twoFactorEmail ? 'Enable' : 'Disable' }}</button>
      </div>
    </div>
  </div>
</div>

<h3 class="pb-2 border-bottom">Sessions</h3>

<form class="mb-3" *ngIf="user.sessionDtoList && user.sessionDtoList.length > 0">
  <div class="list-group mb-3">
    <div class="list-group-item" *ngFor="let s of user.sessionDtoList ">
      <div class="d-flex bd-highlight">
        <div class="bd-highlight">
          <p class="mb-1">{{s.ip}}</p>
          <svg *ngIf="!s.onMobile" height="32" aria-hidden="true" viewBox="0 0 24 24" width="32" data-view-component="true">
            <path fill-rule="evenodd" d="M8.954 17H2.75A1.75 1.75 0 011 15.25V3.75C1 2.784 1.784 2 2.75 2h18.5c.966 0 1.75.784 1.75 1.75v11.5A1.75 1.75 0 0121.25 17h-6.204c.171 1.375.805 2.652 1.769 3.757A.75.75 0 0116.25 22h-8.5a.75.75 0 01-.565-1.243c.964-1.105 1.598-2.382 1.769-3.757zM21.5 3.75v11.5a.25.25 0 01-.25.25H2.75a.25.25 0 01-.25-.25V3.75a.25.25 0 01.25-.25h18.5a.25.25 0 01.25.25zM13.537 17c.125 1.266.564 2.445 1.223 3.5H9.24c.659-1.055 1.097-2.234 1.223-3.5h3.074z" fill="currentColor"></path>
          </svg>
          <svg *ngIf="s.onMobile" height="32" aria-hidden="true" viewBox="0 0 24 24" width="32" data-view-component="true">
            <path d="M10.25 5.25A.75.75 0 0111 4.5h2A.75.75 0 0113 6h-2a.75.75 0 01-.75-.75zM12 19.5a1 1 0 100-2 1 1 0 000 2z"></path><path fill-rule="evenodd" d="M4 2.75C4 1.784 4.784 1 5.75 1h12.5c.966 0 1.75.784 1.75 1.75v18.5A1.75 1.75 0 0118.25 23H5.75A1.75 1.75 0 014 21.25V2.75zm1.75-.25a.25.25 0 00-.25.25v18.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H5.75z" fill="currentColor"></path>
          </svg>
        </div>
        <div class="ms-auto bd-highlight">
          <button (click)="emailTwoFactor()" class="btn btn-sm {{!user.twoFactorEmail ? 'btn-success' : 'btn-danger'}} d-inline float-end">{{!user.twoFactorEmail ? 'Enable' : 'Disable' }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
