<div *ngFor="let response of alertManagerManager.responseList">
  <div class="alert {{ response.alert }}" role="alert">
    {{ response.message }}
  </div>
</div>

<div class="mb-3 d-flex bd-highlight border-bottom">
  <h3 class="bd-highlight">Terms of service</h3>
  <h5 *ngIf="alertManagerManager.iconList.includes('terms')" class="ms-auto bd-highlight mt-2 mb-0 bi bi-check-lg text-success"></h5>
</div>

<form class="mb-3" *ngIf="updateTermsForm" [formGroup]="updateTermsForm" (ngSubmit)="update()">
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor
      formControlName="html"
      [editor]="editor"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>

  <button type="submit" [disabled]="updateTermsForm.invalid" class="btn btn-sm btn-primary mt-3">Update terms</button>
</form>
