<div class="set-nav mb-3">
  <div class="nav nav-pills border rounded ish-table nav-fill">
    <button class="nav-link {{param2 === 'auth' || !param2 ? 'active' : ''}}" type="button" routerLink="/settings/cookies/auth">Authentication</button>
    <button class="nav-link {{param2 === 'privacy' ? 'active' : ''}}" type="button" routerLink="/settings/cookies/">Privacy</button>
  </div>
</div>

<app-setting-cookies-authentication *ngIf="param2 === 'auth' || !param2" (isSummited)="refresh($event)"></app-setting-cookies-authentication>
