<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <a class="">
        <svg viewBox='0 0 30 30' width="30" height="30">
          <path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/>
        </svg>
      </a>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="currentUser" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/notifications">
            <svg aria-hidden="true" viewBox="0 0 16 16" height="16" width="16">
              <path d="M8 16a2 2 0 001.985-1.75c.017-.137-.097-.25-.235-.25h-3.5c-.138 0-.252.113-.235.25A2 2 0 008 16z" fill="currentColor"></path>
              <path d="M8 1.5A3.5 3.5 0 004.5 5v2.947c0 .346-.102.683-.294.97l-1.703 2.556a.018.018 0 00-.003.01l.001.006c0 .002.002.004.004.006a.017.017 0 00.006.004l.007.001h10.964l.007-.001a.016.016 0 00.006-.004.016.016 0 00.004-.006l.001-.007a.017.017 0 00-.003-.01l-1.703-2.554a1.75 1.75 0 01-.294-.97V5A3.5 3.5 0 008 1.5zM3 5a5 5 0 0110 0v2.947c0 .05.015.098.042.139l1.703 2.555A1.518 1.518 0 0113.482 13H2.518a1.518 1.518 0 01-1.263-2.36l1.703-2.554A.25.25 0 003 7.947V5z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li *ngIf="currentUser" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
              <path d="M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z" fill="currentColor"></path>
            </svg>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

          </ul>
        </li>
        <li *ngIf="currentUser" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img *ngIf="currentUser.profileImage && imageUrl; else noData" [src]="imageUrl" class="rounded-circle" height="22" width="22" style="object-fit: cover;" alt="">
            <ng-template #noData>
              {{ currentUser.username }}
            </ng-template>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown22">
            <li><a class="dropdown-item" routerLink="/profile/{{currentUser.username}}">Signed in as <b>{{currentUser.username}}</b></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Feature preview</a></li>
            <li><a class="dropdown-item" routerLink="/help">Help</a></li>
            <li><a class="dropdown-item" routerLink="/settings">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <!--<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>-->
        <button class="btn btn-sm btn-outline-primary" type="button" *ngIf="!currentUser" routerLink="/login">Login</button>
        <button class="btn btn-sm btn-outline-primary ms-2" type="button" *ngIf="!currentUser" routerLink="/register">Register</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
