$primary-color: #202225;
$secondary-color: #292b2f;
$tertiary-color: #2f3136;
$quaternary-color: #36393f;
$white: #ececec;
$secondary-white: #c1c1c1;

.dark-dimmed {
  background-color: $primary-color;
  color: $white;
  border-color: $tertiary-color;

  .border,
  .border-bottom,
  .border-end,
  .border-start,
  .input-group-text {
    border-color: $quaternary-color!important;
  }

  input,
  textarea,
  select {
    background-color: $secondary-color;
    color: $white;
    border-color: $quaternary-color;
  }

  .form-control::-webkit-file-upload-button,
  .input-group-text {
    background-color: $tertiary-color;
    color: $white;
  }

  .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: $quaternary-color!important;
    color: $white!important;
  }

  input:hover,
  textarea:hover,
  select:hover {
    background-color: $tertiary-color;
    color: $white
  }

  input:focus,
  textarea:focus,
  select:focus {
    background-color: $quaternary-color;
    color: $white;
  }

  .list-group .list-group-item {
    color: $white;
  }

  .navbar,
  .navbar a,
  .navbar-toggler-icon,
  .nav .list-group .list-group-item, {
    background-color: $tertiary-color!important;
    color: $white!important;
    border-color: $quaternary-color!important;
  }

  .dropdown-menu,
  .dropdown-menu .dropdown-item {
    background-color: $tertiary-color!important;
  }

  .set-nav .nav-link,
  .list-group .list-group-item,
  .nav-pills {
    background-color: $primary-color;
    color: $white;
    border-color: $quaternary-color!important;
  }

  .set-nav .nav-link.active,
  .set-nav .nav-link:hover {
    background-color: $tertiary-color!important;
  }

  .set-nav .nav-pills p {
    background-color: $secondary-color;
    color: $secondary-white;
    border-color: $tertiary-color!important;
  }

  .pagination .page-item span {
    background-color: $secondary-color;
    color: $white;
    border-color: $tertiary-color;
  }

  .pagination .page-item.disabled span {
    background-color: $secondary-color;
    color: $secondary-white;
    border-color: $tertiary-color;
  }

  .alert-success {
    color: rgb(168, 234, 183) !important;
    background-color: rgb(23, 54, 30) !important;
    border-color: rgb(41, 99, 54) !important;
  }

  .alert-danger {
    color: rgb(230, 155, 162) !important;
    background-color: rgb(64, 11, 16) !important;
    border-color: rgb(129, 23, 34) !important;
  }

  .alert-warning {
    color: rgb(251, 219, 127);
    background-color: rgb(81, 62, 0);
    border-color: rgb(167, 126, 0);
  }
}
